.card-notes__container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  height: 226px;
  width: 252px;
  padding: 16px;
  align-items: flex-start;
  border-radius: 8px;
  background: #f28b82;
}

.card-notes__title {
  color: #18181b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
  margin-bottom: 16px;
}

.card-notes__description {
  color: #18181b;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: 0.25px;
}

.card-notes__container-buttons {
  display: flex;
  width: 220px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
.card-notes__button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.img {
  pointer-events: none;
}

.card-notes__button:hover {
  transform: scale(1.2);
}
